*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    position: relative;
}
//#########################################  vars
$border: 1px solid rgb(240, 238, 238);
$main-width: 100%;

/*#######################################  top-nav-bar ###############################*/

.top-nav-bar{
    width: $main-width;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   p{
       float: left;
       font-size: 16px;
       font-family: Arial, Helvetica, sans-serif;
       margin-left: 50px;
       cursor: pointer;
       span{
           font-weight: bolder;
           font-size: 20px;
       }
   }
   .buttons{
     float: right;
     .redeem{
         background-color: #0c7bc0;
         color: #fff;
         &:hover{
             background-color: #fff;
             color: #0c7bc0;
             border: 1px solid #0c7bc0;
         }
     }
     .upgrade{
         background-color: #e51069;
         color: white;
         &:hover{
             background-color: #fff;
             color: #e51069;
             border: 1px solid #e51069;
         }
     }
     .help{
         border: 0.5px solid #4776ae;
         color: #4776ae;
         background-color: white;
         width: 60px;
         border-radius: 10px;
         &:hover{
             background-color: #ddd;
             color: #000;
             border-color: #000;
         }
     }
     .sign-in{
         background-color: white;
         border: 0.5px solid #4776ae;
         border-radius: 20px;
         &:hover{
             background-color: #ddd;
             border-color: #000;
         }
         &:hover i{
             color: #000;
         }
     }
     i{
         color: #4776ae;
     }
   }
   button{
       width: 70px;
       height: 30px;
       border-radius: 4px;
       margin: 0 8px;
       border: none;
   }

}

/*############################################ menu ##################################*/
menu{
    width: $main-width;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    i{
        cursor: pointer;
    }
    ul{
        position: relative;
        li{
            list-style: none;
            color: #333;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            display: inline-block;
            padding: 20px;
            font-size: 17px;
            position: relative;
            &:hover{
                background-color: #ddd;
            }
            ul{
                display: none;
                position: absolute;
                width: 240px;
                background-color: #fff;
                border: 0.5px solid rgb(209, 208, 208);
                overflow: hidden;
                padding-top: 10px;
                margin-top: 20px;
                li{
                    color: rgb(30, 77, 148);
                    padding: 10px 0;
                    display: block;
                    margin: 10px;
                    padding-left: 6px;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(180, 241, 243);
                        font-weight: bold;
                    }
                }
            }
        }
    }
    li:hover ul{
        display: block;

    }
}

/*############################################### search bar ###################################*/
.container{
    width: $main-width;
    height: 60px;
    display: flex;
    background-color: #3971b9;
    justify-content: center;
    align-items: center;
    z-index: 2;
    p{
        background-color: rgb(236, 172, 87);
        height: 45px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-size: 18px;
        i{
            font-size: 30px;
            padding-left: 5px;
        }
    }
    input{
        width: 600px;
        height: 45px;
        outline: none;
        border: none;
    }
    input[placeholder]{
        font-size: 16px;
        padding-left: 10px;
    }
    .wrapper{
        border: 1px solid black;
        background-color: #fff;
    }
    i{
        font-size: 20px;
        cursor: pointer;
    }
    #search{
        border-left: 1px solid black;
        padding: 13px 10px;
        &:hover{
            background-color: #ddd;
        }
        }
    #keyboard{
        padding: 0 10px
    }
}


/*############################################## white space ######################################*/
.white-space{
    width: $main-width;
    height: 100px;
}

/*############################################## content / more new words #####################*/

.more-new-words{
    max-width: 700px;
    min-height: 400px;
    border: $border;
    display: flex;
    float: left;
    border-radius: 4px;
    padding: 30px;
    margin-left: 50px;
    box-shadow: 0 0  10px rgb(236, 236, 236);
    h4{
        font-size: 18px;
        font-weight: bold;
        color: blue;
        padding-bottom: 30px;
    }
    p{
        line-height: 20px;
        color: #333;
    }
    li{
        color: #333;
        line-height: 16px;
        margin-top: 20px;
        a{
            color: blue;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    img{
        width: 300px;
        height: 260px;
        margin-top: 80px;
    }
    .href{
        color: rgb(58, 58, 233);
        padding-top: 18px;
    }
}

/*############################################# translation ##############################*/
.translation{
    width: 400px;
    min-height: 410px;
    float: left;
    background-color: #dff6f4;
    margin-left: 50px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    #left-i{
        color: blue;
    }
    #right-i{
        color: red;
    }
    i{
        padding: 0 10px;
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }
    .last-p{
        font-size: 12px;
    }
    h5{
        background-color: rgb(9, 133, 126);
        border-radius: 16px;
        margin: 0 20px;
        color: white;
        font-weight: bolder;
        &:hover{
            background-color: rgb(5, 77, 71);
        }
    }
    h3{
        color: #1a3561;
        font-size: 20px;
    }
}


/*#######################################  top four photos #######################################*/
.four-top-photos{
    width:  $main-width;
    display: inline-flex;
    min-height: 480px;
    justify-content: center;
    margin-top: 40px;
    div{
        margin: 0px 10px;
        width: 276px;
        margin: 0 10px;
        box-shadow: 0 0  10px rgb(236, 236, 236);
        border-radius: 6px;
    }
    img{
        width: 200px;
        height: 200px;
        padding: 10px;
    }
    .image-1{
        float: left;
        border: $border;
        padding: 10px;
        padding: 0 30px;
    }
    .image-2{
        float: left;
        border: $border;
        padding: 10px;
        padding: 0 30px;
    }
    .image-3{
        float: left;
        border: $border;
        padding: 10px;
        padding: 0 30px;
    }
    .image-4{
        float: left;
        border: $border;
        padding: 10px;
        padding: 0 30px;
    }
    p{
        color: #333;
        line-height: 20px;
        padding-bottom: 30px;
    }
    h3{
        color: #1a3561;
        font-size: 16px;
        padding-bottom: 30px;
    }
    span{
        a{
            color: rgb(27, 67, 177);
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

/*############################################ more ########################################*/
.more{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: #f8f5f1;
    min-height: 360px;
    position: relative;
    div{
        width: 200px;
        border: $border;
        text-align: center;
        cursor: pointer;
        height: 260px;
        margin: 0 6px;
        margin-top: 40px;
        background-color: #fff;
        border-radius: 6px;
        padding-bottom: 30px;
        &:hover{
            background-color: rgb(28, 78, 187);
        }
        h4{
            cursor: pointer;
            margin-top: 30px;
            color: #4776ae;
        }
        &:hover h4{
           color:  #fff;
        }
    }
    img{
        width: 120px;
        height: 120px;
        margin-top: 20px;
    }
}
/*########################################## last three photos ######################################*/
.three-pic-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    div{
        width: 360px;
        margin: 0 10px;
        border: $border;
        box-shadow: 0 0  10px rgb(236, 236, 236);
        padding: 40px;
    }
    img{
        width: 300px;
        height: 300px;
    }
    h3{
        color: #4776ae;
        padding-top: 20px;
    }
    button{
        border: 1px solid rgb(34, 105, 197);
        padding: 10px 20px;
        border-radius: 6px;
        background-color: #fff;
        color: rgb(34, 105, 197);
        margin-top: 30px;
        &:hover{
            background-color: rgb(3, 89, 139);
            color: #fff;
        }
    }
    p{
        margin-top: 20px;
        line-height: 20px;

    }
} 

/*############################################## brand icons #########################################*/
footer{
    width:  $main-width;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 102%;
    i{
        font-size: 70px;
        padding-top: 10px;
        width: 60px;
        padding-bottom: 10px;
        &:hover{
            background-color: #ddd;
        }
    }
}

.bottom-links{
    width:  $main-width;
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 105%;
    h5{
        padding-bottom: 30px;
        font-size: 16px;
    }
    p{
        color: rgb(97, 96, 96);
        line-height: 30px;
        &:hover{
            text-decoration: underline;
        }
    }
    .paragraph{
        max-width: 300px;
        h6{
            font-size: 12px;
            color: rgb(90, 90, 90);
            span{
                font-size: 30px;
                color: rgb(70, 69, 69);
            }
        }
    }
}
/*###########################  privacy #################*/
.privacy{
    width: $main-width;
    height: 60px;
    position: absolute;
    top: 116%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgb(170, 169, 169);
    #lang{
        text-align: center;
        width: 140px;
        height: 25px;
    }
    a{
        color: rgb(68, 68, 68);
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}